[submodule "lib"]
	path = lib
	url = https://github.com/TST-project/lib.git
[submodule "saktumiva"]
	path = saktumiva
	url = https://github.com/chchch/saktumiva.git
[submodule "xml/lib"]
	path = xml/lib
	url = https://github.com/TST-Projects/lib.git
